@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}

/* Custom scrollbar for chat container */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
